

<table>
    <tr>
        <th align="left" valign="top" nowrap scope="row">Name:</th>
        <td>{{beer.name}}</td>
    </tr>
    <tr>
        <th align="left"  valign="top" nowrap scope="row">Description:</th>
        <td>{{beer.description}}</td>
    </tr>
     <tr>
        <th align="left"  valign="top" nowrap scope="row">Alcohol by weight:</th>
        <td>{{beer.abv}}</td>
    </tr>
     <tr>
        <th align="left" valign="top" nowrap scope="row">International Bitterness unit::</th>
        <td>{{beer.ibu}}</td>
    </tr>
     <tr>
        <th align="left" valign="top" nowrap scope="row">Is organic:</th>
        <td>{{beer.isOrganic}}</td>
    </tr>
</table>

